
  #sitemap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: transparent;
  }

  .post-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px; /* Atur lebar item */
    transition: transform 0.2s;
  }

  .post-item:hover {
    transform: scale(1.05);
  }

  .post-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  .post-item h3 {
    font-size: 16px;
    margin: 10px;
    text-align: center;
  }

  .alphabet-filter {
    text-align: center;
    margin: 20px 0;
  }

  .alphabet-filter button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .mode-toggle {
    text-align: center;
    margin: 20px 0;
  }

  .mode-toggle button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .license {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    display: none;
  }

  .license a {
    color: #007BFF;
    text-decoration: none;
  }

  .license a:hover {
    text-decoration: underline;
  }
  
  .drK .post-item{
    background:var(--darkBs);
}
  
  .drK .alphabet-filter button{
    background:var(--darkBs);
}

  .drK .mode-toggle button{
    background:var(--darkBs);
}
  
  @media (max-width: 600px) {
    .post-item {
      width: 100%; /* Responsif untuk layar kecil */
    }
  }

